@import url('../variables.css');

.hero {
    color: white;
    padding: 40px;
    background: var(--primary-color);
}

.hero__header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.hero__content {
    display: flex;
    gap: 20px;
}

.hero__title {
    font-size: 6rem;
}

.hero__subtitle {
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 800;
    color: #808284;
}

.hero__social {
    display: flex;
    gap: 20px;
}

.article-card {
    background-color: var(--background-color);
    border-radius: 6px;
    color: var(--primary-color);
    padding: 24px;
    display: flex;
    flex-direction: row;
    user-select: none;
    position: relative;
}

.article-card__content {
    width: 30%;
    padding: 10px;
    gap: 10px;
}

.article-card__date {
    color: rgba(0, 0, 0, 0.5);
}

/* .article-card__title {
} */

.article-card__read-time {
    color: rgba(0, 0, 0, 0.5);
}

.article-card__excerpt {
    margin-top: 15px;
}

.article-card__tags {
    list-style-type: none;
    flex: 1;
    display: flex;
    gap: 15px;
}

.article-card__image {
    flex: 1;
    border-radius: 6px;
    object-fit: fill;
    width: 350px;
    height: 400px;
}

.tag {
    margin-top: 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 10px;
    color: var(--background-color);
}

@media (max-width: 768px) {
    .hero {
        padding: 20px;
    }

    .hero__header {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .hero__social {
        display: none;
    }

    .hero__title {
        font-size: 3.5rem;
    }

    .hero__subtitle {
        font-size: 0.5rem;
    }


    .article-card {
        flex-direction: column;
        padding: 16px;
    }

    .article-card__content {
        width: 100%;
    }

    .article-card__image {
        width: 100%;
        object-fit: contain;
        height: 250px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 15px;
    }

    .hero__title {
        font-size: 2rem;
    }

    .hero__subtitle {
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .social-button {
        width: 48px;
        height: 48px;
    }

    .social-button__icon {
        width: 32px;
    }

    .article-card {
        padding: 12px;
    }

    .article-card__title {
        font-size: 1.2rem;
    }

    .article-card__image {
        height: 200px;
    }
}

@media (max-width: 360px) {
    .hero__title {
        font-size: 1.5rem;
    }
}